
body{
    background: rgb(71,30,217);
    background: radial-gradient(circle, rgba(71,30,217,1) 0%, rgba(33,10,115,1) 100%); 
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 100px;
    height: 40px;

    background-color: white;
    border:1px solid rgb(199, 196, 196);
    border-radius: 30px;

    font-family: Helvetica;
    font-weight: 600;
   
    display:flex;
    justify-content: center;
    align-items: center;

    cursor:pointer;
    text-decoration: none;

    transition: .35s;
}

.btn:visited{
    color: black;
}

.btn:active{
    color: black;
}

.btn:link{
    color: black;
}

.bin-box{
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #570FF2;
    border-radius: 20px;
    transition: .35s;
}

.bin-box h1{
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.bin-box label{
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}


.group-input{
    margin-bottom: 8px;
}

.bin-box:hover{
    width: 500px;
    height: 500px;
    box-shadow: 15px 5px 15px 5px rgba(0,0,0,0.15);
}


